/* Estilos para el menu de navegacion el cual es en realidad una tabla */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #012B39;
  display: flex;
  justify-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}


/* Estilos para desplegar las imagenes al centro de la pagina , muy poco profesional pero me sube el animo ver al niño bailar */

body {
  text-align: center; /* Para centrar el contenido de la página */
}

 ul {
     list-style-type: none; /* Quita los puntos de la lista */
     padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos del menú */
}

h1 {
    font-size: 24px;
    margin-top: 20px; /* Espacio entre el menú y el mensaje */
}

#gif-container {
margin-top: 20px; /* Espacio entre el mensaje y el div del GIF */
}