{% extends 'base.html' %}

{% block title %}Agregar Productos{% endblock %}

{% block css %}

    <link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/modal.css')}}">

{% endblock %}

{% block content %}
<form id="form_add_producto" action="{{url_for('add_producto')}}" method="post" >
    <div class="form-container">
    <!-- Elegir Fruta o Verdura OBLIGATORIO --> 
    <label>Tipo de Producto :<br></label required>
    <select id="tipo" name="tipo">
        <option value="fruta"> fruta </option>
        <option value="verdura"> verdura </option>
    </select>
    <!-- Elegir los productos que va a presentar OBLIGATORIO--> 
    <label> Producto : </label>
    <select multiple id="producto_selector" name="producto_selector" required> 
        <!-- Esto se rellena con el script de abajo -->
    </select>
    <!-- Descripcion de los productos OPCIONAL--> 
    <label> Descripcion : <br></label>
    <textarea id="descripcion" name="descripcion" rows="4" cols="50"></textarea><br>
    <!-- Subir archivos OBLIGATORIO --> 
    <label> Imagen del Producto : <br></label>

        <input type="file" id="file_1" name="myfile" required>
        <input type="file" id="file_2" name="myfile">
        <input type="file" id="file_3" name="myfile">

    <!-- Seleccionar region OBLIGATORIO-->
    <label><br> Region : </label>
    <select id="region_selector" name="region_selector" required>
        {% for region in regiones %}
            <option value="{{ region }}"> {{ region }} </option>
        {% endfor %}
    </select>
    <!-- Comunas OBLIGATORIO --> 
    <label> Comunas : </label>
    <select id="comunas" name="comunas" required > 
        <!-- Esto se rellena con el script de abajo -->
    </select>  
    <!-- Nombre Productor OBLIGATORIO--> 
        <label > Nombre Productor : <br></label>
        <input type="text" id="name" name="name" size="80" required><br>
    <!-- Email Contacto OBLIGATORIO --> 
        <label > Email : <br></label>
        <input type="text" id="email" name="email" size="30" required><br>
    <!-- Numero Celular Productor OPCIONAL --> 
        <label > Teléfono : <br></label>
        <input type="text" id="phone" name="phone" size="15" required>
    <br><br>
    <button type="submit" form="form_add_producto">  Agregar Producto (s)</button>
    </div>
</form>
<!-- Modal de error -->
<div id="errorModal" class="modal" style="display: {% if error_message or confirm_message %}block{% else %}none{% endif %}">
    <div class="modal-content">
        <span class="close">&times;</span>
        
        <p>{% if confirm_message %}
            {{ confirm_message }}
        {% elif error_message %}
            {{ error_message }}
        {% endif %}</p>
        <div>
            <!-- Botón para volver al formulario -->
            <button id="volverBtn">Volver al formulario</button>
            <!-- Botón para confirmar el envío -->
            <button id="confirmarBtn">Confirmar</button>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<!-- Tu bloque de scripts JavaScript -->

<script>
    // Obtener referencia al botón de volver al formulario y al botón de confirmar
    var volverBtn = document.getElementById('volverBtn');
    var confirmarBtn = document.getElementById('confirmarBtn');

    // Agregar evento de clic al botón de volver al formulario
    volverBtn.addEventListener('click', function() {
        // Cerrar el modal al hacer clic en volver
        var errorModal = document.getElementById('errorModal');
        errorModal.style.display = "none";
    });

    // Agregar evento de clic al botón de confirmar
    confirmarBtn.addEventListener('click', function() {
        // Aquí puedes agregar la lógica para confirmar el envío del formulario
        // Por ejemplo, puedes enviar el formulario nuevamente con JavaScript
        // O redirigir al usuario a otra página
        alert("Formulario confirmado");
    });

    // Cerrar modal haciendo clic en el botón "X"
    var closeBtn = document.getElementsByClassName("close")[0];
    closeBtn.onclick = function() {
        var errorModal = document.getElementById('errorModal');
        errorModal.style.display = "none";
    };

    // Cerrar modal haciendo clic fuera del modal
    window.onclick = function(event) {
        var errorModal = document.getElementById('errorModal');
        if (event.target == errorModal) {
            errorModal.style.display = "none";
        }
    };
</script>
<script>
    // Script para rellenar y actualizar los productos
    let productosPorTipo = {{ productos | tojson }};
    let tipoSelector = document.getElementById('tipo');
    let productoSelector = document.getElementById('producto_selector');

    tipoSelector.addEventListener('change', function() {
        let selectedTipo = tipoSelector.value;
        productoSelector.innerHTML = '';

        let productos = productosPorTipo[selectedTipo];

        productos.forEach(function(producto) {
            let option = document.createElement('option');
            option.value = producto;
            option.textContent = producto;
            productoSelector.appendChild(option);
        });
    });

    tipoSelector.dispatchEvent(new Event('change'));
    // Script para rellenar y actualizar las comunas

    let comunasPorRegion = {{ comunas_por_region | tojson }};

    let regionSelector = document.getElementById('region_selector');
    let comunasSelect = document.getElementById('comunas');

    regionSelector.addEventListener('change', function() {
        let selectedRegion = regionSelector.value;
        comunasSelect.innerHTML = '';

        let comunas = comunasPorRegion[selectedRegion];

        comunas.forEach(function(comuna) {
            let option = document.createElement('option');
            option.value = comuna;
            option.textContent = comuna;
            comunasSelect.appendChild(option);
        });
    });

    regionSelector.dispatchEvent(new Event('change'));
    
</script>
<!-- 
<script src="{{ url_for('static',filename='js/modal.js')}}"></script> -->

{% endblock %}