<!DOCTYPE html>
<html lang="es">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/table.css') }}">
    </head>
<body>
    <ul>
        <li><a href="agregar-producto.html">Agregar Producto</a></li>
        <li><a href="{{ url_for('ver_productos')}}">Ver Producto</a></li>
        <li><a href="agregar-pedido.html">Agregar Pedido</a></li>
        <li><a href="ver-pedidos.html">Ver Pedido</a></li>
    </ul>
    {% block content %}
    {% endblock %}
</body>
</html>