{% extends 'base.html' %}

{% block title %}Ver Productos{% endblock %}

{% block content %} 

<script>
  function redirigir(productoId) {
      window.location.href = "/detalle_producto/" + productoId;
  }
</script>
<body>
  <table>
        <!-- Filas tr-->
        <tr>
          <th>Tipo</th>
          <th>Producto(s)</th>
          <th>Región</th>
          <th>Comuna</th>
          <th>Fotos</th>
        </tr>
        <tr onclick="redirigir({{ productos[0][0] }})">
          <td> {{ productos[0][1] }} </td>
          <td> {{ ', '.join(lista_productos[0]) }}</td>
          <td> {{ regiones[0] }}</td>
          <td> {{ comunas[0]}}</td>
          <td><img src="{{ url_for('static', filename= small[0] ) }}" alt="Foto Arandanos"></td>
        </tr>
        <tr onclick="redirigir({{ productos[1][0] }})">
          <td> {{ productos[1][1] }} </td>
          <td> {{ ', '.join(lista_productos[1]) }}</td>
          <td> {{ regiones[1]}}</td>
          <td> {{ comunas[1] }}</td>
          <td><img src="{{ url_for('static', filename= small[1] ) }}" alt="Foto Arandanos"></td>
        </tr>
        <tr onclick="redirigir({{ productos[2][0] }})">
          <td> {{ productos[2][1] }} </td>
          <td> {{ ', '.join(lista_productos[2])}}</td>
          <td> {{ regiones[2]}}</td>
          <td> {{ comunas[2]}}</td>
          <td><img src="{{ url_for('static', filename= small[2] ) }}" alt="foto brocoli"></td>
        </tr>
        <tr onclick="redirigir({{ productos[3][0] }})">
            <td> {{ productos[3][1] }} </td>
            <td> {{ ', '.join(lista_productos[3])}}</td>
            <td> {{ regiones[3]}}</td>
            <td> {{ comunas[3]}}</td>
            <td><img src="{{ url_for('static', filename= small[3] ) }}" alt="foto palta"></td>
        </tr>
        <tr onclick="redirigir({{ productos[4][0] }})">
            <td> {{ productos[4][1] }} </td>
            <td> {{ ', '.join(lista_productos[4]) }}</td>
            <td> {{ regiones[4] }}</td>
            <td> {{ comunas[4]}}</td>
            <td><img src="{{ url_for('static', filename= small[4] ) }}" alt="foto papaya"></td>
        </tr>
      </table>

</body>
{% endblock content %}